@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@1,300&family=Tapestry&display=swap');

$color1: #520567;
$color2: #00C9A7;
$color3: #FEFEDF;
$color4: rgb(94, 25, 159);


body{
    background-color: #f1b0fa;
    padding-top: 55px;
}
header{
    padding-right: 0;
    padding-left: 0;
}
/* Navbar */
.fondo-nav{
    background-image: linear-gradient(to right,#845EC2,#c8b3e9);
    position: fixed;
    top: 0;
    z-index: 1;
}
.nav-font{
    font-family: 'Acme', sans-serif;
}

/* Jumbotron */
.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #C493FF;
    background-image: url(/pages/img/jumbotronbackg.jpg);
    background-position: center;
    background-size: cover;
    text-shadow: 1px 1px 5px #ccc;
    h2{
        font-size: 25px;
        color: #ede3f8;
    }
}

.social{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    height: auto;
    font-size: 30px;
    text-shadow: none;
    z-index: 1;
    i{
        padding: 6px;
    }
    a{
        color: rgb(251, 251, 237);
        &:hover{
            color: rgb(49, 49, 239);
        }
    }
}

/* Index content */
h3{
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: $color3;
    padding: 20px;
    text-shadow: 2px 2px rgb(65, 65, 65);
    }

.containerindex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "gridt1 gridt1 gridt1"
                        "text0 text0 text0"
                        "gridt2 gridt2 gridt2"
                        ". accordion ."
                        "gridt3 gridt3 gridt3"
                        "text1 text1 text1"
}

.gridt1{
    grid-area: gridt1;
    background-color: $color2;
    margin: 0;
}
.gridt2{
    grid-area: gridt2;
    background-color: $color2;
    margin: 0;
}

.gridt3{
    grid-area: gridt3;
    background-color: $color2;
    margin: 0;
}
.text0{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 30px;
    letter-spacing: 2px;
    line-height: 35px;
    text-align: justify;
    font-family: var(--bs-font-sans-serif);
    font-size: 14px;
    background-color: $color3;
    border-style:double; 
    border-width: 7px;
    border-color: rgb(68, 2, 96);
    grid-area: text0;
}
.accordion{
    grid-area: accordion;
}
.accordion-button{
    position: static;
}
.text1{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 30px;
    letter-spacing: 2px;
    line-height: 35px;
    text-align: justify;
    font-family: var(--bs-font-sans-serif);
    font-size: 14px;
    background-color: $color3;
    border-style:double; 
    border-width: 7px;
    border-color: rgb(68, 2, 96);
    grid-area: text1;
}
.indexsection{
    padding: 0;
}

/* Gallery */
.heading{
    min-height: 75px;
    width: 100%;
    background-color: $color2;
    margin: 0;
}
section{
    div{
        img{
            height: 300px;
        }
    }
}
.gallerytitles{
    font-family: 'Acme', sans-serif;
    font-size:xx-large;
    width: 170px;
    min-height: 80px;
    color: #fff;
    background: $color2;
    transition: width 2s;
    &:hover{
        width: 100%;
        color: #303030;
    }
}
.gallerytext{
    background-color: $color3;
    border: solid 2px black;
    padding: 20px;
    line-height: 30px;
}
.card {
    width: 24%;
    margin: 3px;
    position: static;
    padding-top: 12px;
}
.cards{
    justify-content: space-evenly;
}
.card-img-top {
    border-radius: 10px;
    object-fit: cover;
}

/* Form */
.newsletter{
    width: 100%;
    min-height: 120px;
    padding: 20px;
    input{
        width: 80%;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        padding: 6px 12px 6px 12px;
        appearance: none;
        border-radius: 0.25rem;
        &:focus{
            color: $color2;
        }
    }
}
.form-h4{
    color: white;
    background-color: rgb(255, 255, 255);
}
.btn{
    margin: 10px;
    font-size: 18px;
}
.form-heading{
    text-align: center;
    color: #520567;
    background-color: rgb(255, 255, 255);
    border: solid 2px;
    padding: 15px;
}
section{
    background-color: #f1b0fa;
    padding: 20px;
    form{
        padding-left: 20px;
    }
}
.form-control{
    width: 80%;
}
.form-select{
    width: 80%;
}
.form-flex{
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Blog begins */
.blogtext{
    background-color: rgba(251, 227, 248, 0.74);
    border-bottom: solid white 32px;
}
.blogp{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    line-height: 30px;
    padding: 6px;
}
.blogp1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
    padding: 6px;
    line-height: 30px;
}
.blogh4{
    font-family: 'Acme', sans-serif;
    text-align: left;
    color: $color4;
    font-size: 28px;
    padding: 24px;
    margin: 0;
}
.blogh41{
    font-family: 'Acme', sans-serif;
    text-align: right;
    color: $color4;
    font-size: 28px;
    padding: 24px;
    margin: 0;
}
.blog-flex{
    display: flex;
    justify-content: center;
}
.blogform{
    margin-left: 30px;
}

// Essentials

.essentialsintro{
    background-color: $color3;
    min-height: 100px;
    font-size: 24px;
    font-family: var(--bs-font-sans-serif);
    text-align: center;
    border: 4px solid $color1;
}

@mixin block {
    min-width: none;
    min-height: 300px;
    width: 50%;
    border: 2px solid;
    background-color: #ede3f8;
    margin: 20px 25% 20px 25%;
}
.block1{
    @include block;
    @extend .extend;
}
.block2{
    @include block;
    @extend .extend;
}
.block3{
    @include block;
    @extend .extend;
}
.extend{
    border-color: #240030;
    padding: 15px;
    p{
        text-align: justify;
    }
}

$green: rgb(151, 241, 175);
$yellow: rgb(192, 250, 156);
$red: rgb(255, 134, 134);

$colors: (
        recomended: $green,
        optional: $yellow,
        dangerous: $red,
);

@each $name, $value in $colors{
    .#{$name} {
        background-color: $value;
    }
}

.carousel {
    width: 100%;
    padding: 0;
}
.w-100{
    height: 500px;
    object-fit: cover;
}
.carousel-caption{
    background-color: rgba(125, 125, 125, 0.526);
}


/* Footer begins */
.footer{
    height: auto;
    width: 100%;
    background-image: linear-gradient(to right,#7747c3,#c8b3e9);
    padding: 10px;
    h4{
        font-family: 'Acme', sans-serif;
        color: $color3;
        text-decoration: underline;
    }
    a{
        color: #DCB0FF;
        font-size: 16px;
        &:hover{
            color: darkblue;
        }
    }
}
.footerdiv{
    display: flex;
    flex-direction: column;
}